.form__close-button {
  background-image: url(/images/Close-Icon.svg);
  width: 40px;
  height: 40px;
  align-self: flex-end;
}

.form__close-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}
