.profile__user-name {
  color: #fff;
  font-family: Inter;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.3;
  text-align: left;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis " ...";
}
@media screen and (max-width: 600px) {
  .profile__user-name {
    font-size: 30px;
  }
}
@media screen and (max-width: 470px) {
  .profile__user-name {
    font-size: 26px;
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .profile__user-name {
    font-size: 22px;
  }
}
