.profile__info {
  max-width: 50%;
  margin-left: 17px;
  display: grid;
  grid-template-columns: 1fr 0.2fr;
}
@media screen and (max-width: 950px) {
  .profile__info {
    max-width: 65%;
    grid-template-columns: 0.8fr 0.2fr;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 470px) {
  .profile__info {
    grid-template-columns: 1fr 0.2fr;
    max-width: 100%;
    margin-left: 0px;
    margin-bottom: 36px;
  }
}
