.place-card__info-container {
  width: 87%;
  max-height: 21%;
  min-height: 70px;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 31px;
  margin: auto;
}
