.profile__user-profession {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 16px;
  overflow: hidden;
  text-overflow: ellipsis " ...";
}
@media screen and (max-width: 470px) {
  .profile__user-profession {
    margin-top: 14px;
    text-align: center;
  }
}
