.profile__avatar {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
}
@media screen and (max-width: 480px) {
  .profile__avatar {
    max-width: 100px;
    max-height: 100px;

    margin-right: 5px;
  }
}
