.add-button {
  width: 150px;
  height: 50px;
  border: 1px #fff solid;
  position: absolute;
  right: 0px;
  top: 35px;
  display: flex;
}
.add-button:hover {
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 725px) {
  .add-button {
    width: 100px;
  }
}
@media screen and (max-width: 480px) {
  .add-button {
    width: 50px;
  }
}
