.form__submit-button {
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  border: none;
  margin-top: 10px;
}
@media screen and (max-width: 600px) {
  .form__submit-button {
    margin-top: 0px;
  }
}
.form__submit-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}
.form__submit-button_inactive {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  pointer-events: none;
}
